* {
  box-sizing: border-box;
}
body {
  padding: 0;
  margin: 0;
}
.section-class {
  max-width: 1508px;
  max-height: 744px;
}

.content {
  max-width: 1170px;
  margin: 15px auto;
}

.promo {
  margin-top: 50px;
  font-family: "Raleway", sans-serif;
  font-weight: 400;
  text-align: center;
  margin-bottom: 83px;
}

.promo-title {
  height: 150px;
  font-size: 36px;
  text-transform: uppercase;
  font-weight: bold;
  line-height: 42.26px;
  padding: 57px 0;
}

.promo-separator {
  width: 170px;
  height: 1px;
  background-color: #EC7979;
  margin: 0 auto ;
}

.promo-subtitle {
  margin-top: 40px;
  font-size: 18px;
  line-height: 21px;
}
.opinion {
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  line-height: 21.13px;
}

/*.opinion-container {}*/

.opinion-row {
  display: flex;
  justify-content: space-between;
}

.opinion-column {
  width: 370px;
  height: 180px;
  background-color: #E2E2E2;
  border-radius: 10px;
}

.opinion-text {
  padding: 38px 20px;
  text-align: center;
}

.managers-info {
  margin: 66px 0 64px 0;
}

/*.managers-info-container {}*/

.managers-info-row {
  display: flex;
  justify-content: space-between;
}

.managers-info-column {
  width: 370px;
  height: 90px;
  display: flex;
  justify-content: space-between;
}

/*.managers-info-cover-pnoto {}*/

/*.managers-info-data {}*/

.managers-info-name {
  font-family: "Open Sans", sans-serif;
  font-size: 24px;
  line-height: 32px;
  font-weight: bold;
  width: 269px;
  height: 54px;
  padding: 13px 0;
  margin-bottom: 15px;
}

.managers-info-function {
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  line-height: 21.13px;
  font-weight: bold;
  width: 269px;
}

.triangle-down {
  width: 0px;
	height: 0px;
	border-left: 15px solid transparent;
	border-right: 15px solid transparent;
	border-top: 20px solid #E2E2E2;
  position: relative;
  left: 60px;
  bottom: 2px;
}

